<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>

</style>
</head>
<body style="background-color:darkgrey;">

  <nav style=background: class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:beranda' %}">Beranda <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'homepage:tentang' %}">Tentang</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:kontak' %}">Kontak</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:pengalaman' %}">Pengalaman</a>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'homepage:galeri' %}">Galeri</a>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:kegiatan' %}">Kegiatan</a>
      </li>
    </ul>
  </div>
</nav>

<img src="{% static 'images/foto-tentang.png' %}" id="fototentang">

<div id="tulisantentang">
    Saya merupakan anak ketiga dari tiga bersaudara yang lahir di Depok pada <br>tanggal 11 April 2001. Saya saat ini sedang berjuang keras dalam dunia <br>perkuliahan di Fakultas Ilmu Komputer Universitas Indonesia. Di Fasilkom ini <br>saya mengikuti beberapa kegiatan organisasi dan kepanitiaan seperti BEM <br>Fasilkom Departemen Olahraga sebagai Staff dan telah menyelesaikan <br>kepanitiaan CSL (Computer Science League) sebagai Staff.
</div>

</body>
</html>